*, *::before, *::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
	text-decoration: none;
	display: block;
	color: #fff;
}
html {
	font-size: $font-size-base;
}
body {
	font-family: $font-family-base;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
	line-height: 1.4;
	font-family: $font-family-Noto;
}
.h1 { // 64px
  font-size: $h1-font-size;
}
.h2 { // 48px
  font-size: $h2-font-size; 
}
.h3 { // 36px
  font-size: $h3-font-size; 
}
.h4 { // 32px
  font-size: $h4-font-size; 
}
.h5 { // 24px
  font-size: $h5-font-size; 
}
.h6 { // 20px
  font-size: $h6-font-size; 
}