@mixin pad {
  @media (max-width: 992px) {
    @content 
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content 
  }
}
@mixin media-breakpoint-up-lg {
  @media (min-width: 993px) {
    @content 
  }
}
@mixin media-breakpoint-up-md {
  @media (min-width: 768px) {
    @content 
  }
}
@mixin size($w, $h) {
  width: $w;
  height: $h;
}