.info-banner {
	background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true) center center / cover;
	height: 304px;
	.container {
		height: 100%;
	}
	&__txt {
		align-items: center;
	}
	&__icon {
		margin-left: 24px;
		@include size(58px, 58px);
	}
}
.fqa {
	padding: 80px 0 264px;
	&__title {
		margin-bottom: 36px;
	}
	&__item {
		margin-bottom: 40px;
	}
	&__question {
		margin-bottom: 16px;
	}
	&__ans {
		margin-left: 95px;
	}
}
@media (max-width: 992px) {
	.info-banner {
		&__title {
			font-size: 48px;
		}
		&__icon {
			margin-left: 16px;
			@include size(48px, 48px);
		}
	}
	.fqa {
		padding: 40px 0 64px;
		&__ans {
			margin-left: 59px;
		}
	}
}
@media (max-width: 767px) {
	.info-banner {
		height: 143px;
		background-position: 35% center;
		width: 100%;
		&__title {
			font-size: 28px;
		}
		&__icon {
			margin-left: 8px;
			@include size(24px, 24px);
		}
	}
	.fqa {
		padding: 24px 0px 36px;
		width: 100%;
		&__title {
			font-size: 20px;
			margin-bottom: 12px;
		}
		&__item {
			margin-bottom: 20px;
		}
		&__question {
			font-size: 16px;
			margin-bottom: 8px;
		}
		&__ans {
			font-size: 14px;
			margin-left: 0px;
		}
	}
}