.location {
	padding-top: 16px;
	padding-bottom: 272px;
}
@media (max-width: 992px) {
	.location {
		padding-top: 8px;
		padding-bottom: 84px;
	}
}
@media (max-width: 767px) {
	.location {
		padding-bottom: 40px;
	}
}

.select-area {
	margin-bottom: 32px;
}
.custom-select {
	margin-left: 20px;
	width: 324px;
	padding: 10px;
	font-size: 18px;
}
.location {
	&__item {
		width: calc( 100% / 3 - 60px);
		margin-bottom: 32px;
		&:nth-child(2), &:nth-child(5) {
			margin: 0 30px;
		}
	}
	&__img {
		height: 224px;
		overflow: hidden;
	}
	&__title, &__info {
		padding: 12px 24px;
		border: 1px solid #00000020;
	}
	&__info {
		font-size: 20px;
		img {
			width: 21px;
			height: 21px;
			margin-right: 12px;
		}
	}
	&__info-item {
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__detail-btn {
		display: block;
		width: 100%;
		border: solid 1px #00000020;
		padding: 20px 0;
		background-color: #000000;
		color: #fff;
		font-size: 19px;
		text-align: center;
		cursor: pointer;
		&:hover {
			background-color: $secondary;
		}
	}
}
@media (max-width: 992px) {
	.select-area {
		margin-bottom: 24px;
		.h5 {
			font-size: 16px;
		}
	}
	.custom-select {
		width: 237px;
		padding: 12px 0;
		font-size: 16px;
	}
	.location {
		&__list {
			justify-content: space-between;
			width: calc( 330px*2 + 30px );
		}
		&__item {
			width: 330px;
			margin-bottom: 20px;
			&:nth-child(2), &:nth-child(5) {
				margin: initial;
			}
		}
		&__img {
			height: 164px;
		}
		&__title {
			font-size: 16px;
		}
		&__info {
			font-size: 14px;
		}
		&__detail-btn {
			padding: 16px 0;
			font-size: 14px;
		}
	}
}
@media (max-width: 767px) {
	.select-area {
		margin-bottom: 20px;
		.h5 {
			font-size: 14px;
			white-space: nowrap;
		}
	}
	.custom-select {
		flex-grow: 1;
		padding: 8px 0;
		font-size: 14px;
	}
	.location {
		&__list {
			flex-direction: column;
			margin: 0 auto;
			max-width: 345px;
			width: 100%;
		}
		&__item {
			width: 100%;
			margin-bottom: 16px;
			&:nth-child(2), &:nth-child(5) {
				margin-bottom: 16px;
			}
		}
	}
}