.map {
  @include pad {
    flex-direction: column;
  }
  @include mobile {
    max-width: 345px;
    margin: 0 auto;
  }
  &__info {
    width: 445px;
    margin-right: 30px;
    @include pad {
      display: flex;
      align-items: center;
      width: 100%;
      margin-right: 0px;
      margin-bottom: 32px;
    }
    @include mobile {
      flex-direction: column;
      margin-bottom: 16px;
    }
  }
  &__img {
    overflow: hidden;
    @include pad {
      width: 50%;
      height: 164px;
      margin-right: 30px;
    }
    @include mobile {
      margin-right: 0px;
      width: 100%;
      height: auto;
    }
  }
  &__txt {
    @include pad {
      width: 50%;
    }
    @include mobile {
      width: 100%;
    }
  }
  &__iframe {
    width: 635px;
    @include pad {
      width: 100%;
      height: 465px;
    }
    @include mobile {
      height: 227px;
    }
  }
}