<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar d-flex justify-content-between align-items-center">
    <a href="index.html" class="logo">
      <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true"
        alt="六角眼鏡行">
    </a>
    <ul class="navbar-menu d-flex flex-wrap">
      <li><a href="product-opt.html">系列鏡框</a></li>
      <li><a href="location.html">門市據點</a></li>
      <li><a href="blog.html">部落格</a></li>
      <li><a href="fqa.html">常見問題</a></li>
    </ul>
  </nav>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="d-flex">
        <div>
          <ul class="footer-nav d-flex">
            <li><a href="index.html">首頁</a></li>
            <li><a href="product-opt.html">系列鏡框</a></li>
            <li><a href="location.html">門市據點</a></li>
            <li><a href="blog.html">部落格</a></li>
            <li><a href="fqa.html">常見問題</a></li>
          </ul>
          <p class="d-flex">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-phone.svg" alt="">
            <a href="tel:+0800-000-000">0800-000-000</a>
          </p>
          <p class="d-flex">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-mail.svg" alt="">
            <a href="mailto:glasses@business.com">glasses@business.com</a>
          </p>  
        </div>
        <ul class="footer-social d-flex">
          <li>
            <a href="#">
              <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-fb.svg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-ig.svg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-line.svg" alt="">
            </a>
          </li>
        </ul>
      </div>     
      <div class="footer-copyright d-flex align-items-center">
        <div class="footer-logo">
          <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true" alt="">
          <span>Copyright © 2020 Glasses.All rights reserved.</span>
        </div>
        <ul class="policy d-flex">
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>    
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>
</html>
